.container
  .row
    .span9
      .header-big.center-responsive
        %h1 Sobre nós
      %img{:alt => "", :src => "assets/pizza.jpg"}/
      %br
      %p= @site.info['about']
    = render 'util/right_bar'
