@import "bootstrap"
@import "style"
@import "lightbox"
@import "fancybox/fancybox"

header
  #brand
    img
      border-radius: 6px
      margin-top: -20px

.comment-author
  img
    width: 96px
.copyrights
  .brand
    img
      width: 84px
ul.wall
  margin-left: 20px